
.grid-item > a {
  -webkit-tap-highlight-color: transparent;
}

.image-list-link {
  user-select: none; /* disable selection/Copy of UIWebView */
  -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
}
